
@{
    ViewBag.Title = "About";
}

<br />
<br />




<h2 style="text-align:center">About Us</h2>
<br />
<img style="margin: auto; text-align:center; width:100%; height: auto;" src="/Images/rising_healthcare_costs_2019_banner.jpg" />
<br />

<br />

<div id="about-box" style="text-align: center">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ac est magna. 
        Cras lobortis dui augue, a porttitor ipsum molestie eu. In cursus eu lorem luctus tristique. 
        Duis a elit sit amet lorem viverra bibendum tincidunt sed neque. Cras sagittis est dui, nec feugiat leo venenatis ut. 
        Integer dictum eros urna, vel molestie arcu lobortis ac. Sed ut lacus sollicitudin, consectetur est nec, sodales leo.

        Phasellus aliquam ullamcorper mauris eget tincidunt. Aenean nec mi mauris. Praesent ac arcu tellus. 
        In dapibus odio a arcu maximus dictum. Aenean et ex vel ante dignissim bibendum nec sit amet ex. 
        Sed massa dolor, ullamcorper et libero a, iaculis iaculis sem. Aliquam quis egestas lorem, id viverra nisl. 
        Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Integer nec ipsum vitae libero dignissim tempor. 
        Sed lobortis efficitur sapien, nec condimentum nisi viverra id.
    </p>
</div>