@{
    ViewBag.Title = "Home Page";
}

<style>

    #pic1 {
        margin: auto;
        width: 100%;
        height: auto;
        text-align: center;
    }
</style>

<br />
<img id="pic1" src="/Images/HIMSS-OMB-Blog_Updated"/>
<br />
<br />
<p style="font-size:25px;">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer quis quam turpis.
</p>

<p style="font-size: 20px; "> Pellentesque habitant morbi tristique senectus <br /> et netus et malesuada fames ac turpis egestas.</p>
<br />
<br />

<div class="container">
    <div class="row">
        <div class="col-sm-6" style="background-color:ghostwhite; text-align:center">
            <p style="font-size: 18px">
                Lorem ipsum. Nullam porta, magna eget vehicula venenatis, augue turpis egestas dui, sed euismod velit sem vel nibh.
                Vivamus scelerisque risus fringilla posuere porta. Aliquam erat volutpat. Mauris sit amet porta est, et lacinia eros.
            </p>
            <button type="button" class="btn btn-primary btn-lg btn-block">Services</button>
        </div>
        <div class="col-sm-6" style="background-color:ghostwhite; text-align:center">
            <p style="font-size: 18px">
                Sed ut perspiciatis. Phasellus ac ipsum nec velit egestas vulputate rutrum in risus.
                Sed quam dolor, tempor in consequat sed, auctor sed diam. Phasellus sodales accumsan nulla, ac ultrices diam cursus id.
                Vestibulum ac elementum felis.
            </p>
            <button type="button" class="btn btn-primary btn-lg btn-block">& More</button>
        </div>
    </div>
</div>

